html, body {
}

body {background-color:#0f0f1f;margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:18px;color:#4040f0;}
.container{width:940px;margin-left:auto;margin-right:auto;zoom:1;}.container:before,.container:after{display:table;content:"";zoom:1;}
.container:after{clear:both;}
.container-fluid{position:relative;min-width:940px;padding-left:20px;padding-right:20px;zoom:1;}.container-fluid:before,.container-fluid:after{display:table;content:"";zoom:1;}
.container-fluid:after{clear:both;}
.container-fluid>.sidebar{position:absolute;top:0;left:20px;width:220px;}
.container-fluid>.content{margin-left:240px;}
a{color:#0069d6;text-decoration:none;line-height:inherit;font-weight:inherit;}a:hover{color:#00438a;text-decoration:underline;}



header {
}

section {
}

footer {
}

.container {
	margin: 0 auto;
	width: 960px;
}

#tweets{
    width:500px;
    max-height:400px;
    list-style:none;
    overflow-y:scroll;
}

.tweet{
    border:1px solid black;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color:white;
    padding:5px;
    margin-bottom:5px;
}