<!DOCTYPE html>
<html>
<head>
	<title>Bucket of Tears</title>
	<link rel="stylesheet" type="stylesheets/css" href="stylesheets/tears.css">
	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src='http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js'></script>  
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src='javascripts/splashMarker.js'></script>
	<script type="text/javascript" src='javascripts/tears.js'></script>

</head>
<body>
	
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class='container'>
	    <header>
	    	<h1 align=center><font color=#ffffff size=150%>Buckets of Tears</h1>
	    </header>
	    <section>
	    	<div id='map' style="width:100%;height:500px">
	    	</div>
	    	<div id='bucket'>
	    		<div id='glass'>
	    			<div id='water'>
	    			</div>
    				<!--<div id='face'>
		    			<img src='images/sad_face.png'/>
	    			</div> -->
			    </div>
	    	</div>
	    </section>

	    <ul id="tweets">

	    </ul>
	    
	    <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="_bucketsoftears">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	   
	   <footer>
	    	<p>
		    	In our modern society, only positive emotions reach the surface. Negative feelings often remain hidden. By creating BUCKETS OF TEARS, we raise awareness for the sadness in the world that often passes unnoticed. 
	    	</p>
			<p>
				When somebody publishes a tweet about crying, they often want to share their pain with the world, to ease the pain that would be too much to bear in solitude. BUCKETS OF TEARS offers a service for caring people all over the world to find individuals in distress and comfort them.
			</p>
			<p>
				Press the "Comfort" button and show a fellow human being that you care today.
			</p>

			

	<div class="fb-like-box" data-href="https://www.facebook.com/bucketsoftears" data-width="292" data-height="200" data-colorscheme="dark" data-show-faces="false" data-stream="true" data-header="false"></div>
	    </footer>
    </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27003719-1']);
  _gaq.push(['_setDomainName', '.bucketsoftears.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>