<!DOCTYPE html>
<html>
<head>
	<title>Bucket of Tears</title>
	<link rel="stylesheet" type="text/css" href="css/tears.css">
	<script type="text/javascript" src='scripts/tears.js'></script>
</head>
<body>
	<div class='container'>
	    <header>
	    	<h1>Bucket of Tears</h1>
	    </header>
	    <section>
	    	<div id='map'>
	    	</div>
	    	<div id='bucket'>
	    	<img src='images/bucket.png'/>
	    	</div>
	    </section>
	    <footer>
	    </footer>
    </div>
</body>
</html>
