<!DOCTYPE html>
<html>
<head>
	<title>Bucket of Tears</title>
	<link rel="stylesheet" type="stylesheets/css" href="stylesheets/tears.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src='javascripts/splashMarker.js'></script>
    
	<script type="text/javascript" src='javascripts/tears.js'></script>

</head>
<body>
	<div class='container'>
	    <header>
	    	<h1>Buckets of Tears</h1>
	    </header>
	    <section>
	    	<div id='map'>
	    	</div>
	    	<div id='bucket'>
	    		<div id='glass'>
	    			<div id='water'>
	    			</div>
    				<div id='face'>
		    			<img src='images/sad_face.png'/>
	    			</div>
			    </div>
	    	</div>
	    </section>
	    <footer>
	    	<p>
	    	In our modern society, only positive emotions reach the surface. Negative feelings often remain hidden. By creating BUCKETS OF TEARS, we raise awareness for the sadness in the world that often passes unnoticed. 
	    	</p>
			<p>
			When somebody publishes a tweet about crying, they often want to share their pain with the world, to ease the pain that would be too much to bear in solitude. BUCKETS OF TEARS offers a service for caring people all over the world to find individuals in distress and comfort them.
			</p>
			<p>
			Press the "Comfort" button and show a fellow human being that you care today.
			</p>
	    </footer>
    </div>
</body>
</html>
